// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div h1{
	text-align: center;
}
div p{
	text-align: center;
}


div.jumbotron a{
	width: 50%;
	background-color: #00e600;
	border-color: none;
	margin: auto;
}

div.jumbotron a:hover{
	background-color: #33ff33;
	
}
div.jumbotron a:active{
	background-color: #006600;
	color: black;

}
